body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1
{
    font-size: 40px;
}
span
{
    color:darkorange
}
section
{
    display:flex;
}

.half-width
{
    width: 50%;
    text-align:justify;
    padding-right: 10%;
    padding-left:5%;
}
.half-width img
{
    width: 120%;
    margin-right: 5px;
}
.link
{
    text-decoration: none;
    background-image: linear-gradient(skyblue,pink );
    border: 10px;
    padding: 8px 30px;
    margin: 2px;
    border-radius: 5px;
    font-size: 20;
    font-weight: bold;
    
}
.top_banner
{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}

