body
{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1
{
    font-size: 40px;
}
span
{
    color:darkorange
}
.flexible_container
{
    display:flex;
    margin-bottom: 100px;
}

.half-width
{
    width: 50%;
    text-align:justify;
    padding-right: 10%;
    padding-left:5%;
}
.half-width img
{
    width: 120%;
    margin-right: 5px;
}
.link
{
    text-decoration: none;
    background-image: linear-gradient(skyblue,pink );
    border: 10px;
    padding: 8px 30px;
    margin: 2px;
    border-radius: 5px;
    font-size: 20;
    font-weight: bold;
    
}
.top_banner
{
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
}
.second_part
{
    width: 50%;
    text-align: justify;
   
    

}
.second_part img
{
    width: 70%;
    padding-left: 50px;

}
.second_part p
{
    padding-right: 130px;

}
.link2
{
    background-image: linear-gradient(rgb(0, 255, 106), yellow);
    border: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
.side_banner
{
    background-image:url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience_unit
{
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-left: 3%;
    text-align: justify;
    padding-right: 1%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px violet;
    
   
    
}
.experience
{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
    
}
#border_left_fullstack
{
    border-left: 7px solid;
    border-image:linear-gradient(blue, pink);
    border-image-slice: 3;
}
#border_left_baby
{
    border-left: 7px solid;
    border-image:linear-gradient(rgb(255, 230, 0), rgb(2, 40, 54));
    border-image-slice: 2;
}
footer p
{
    text-align: center;
}
